fastapi
uvicorn[standard]
sqlalchemy
jinja2
python-multipart
passlib[bcrypt]
python-jose[cryptography]
alembic
pydantic
pydantic-settings
requests
httpx
pyinstaller
reportlab
qrcode[pil]
access-parser
openpyxl
# === Sistema de Licenciamiento ===
cryptography
wmi
pyarmor
